<div class="main-page">
    <h1>
      Welcome to myFlix!
    </h1>
      <!--The mat-raised-button capitization affects styling. Change the m to cap to see-->
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;"
      color="primary"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="openUserLoginDialog()"
      style="margin-right: 10px;"
    >
      Login
    </button>
  </div>
